body {
	padding: 0;
	margin: 0;
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: center;
	width: 24em;
	border-radius: 12px;
}

.leaflet-popup-content-wrapper img {
	width: 100%;
	padding: 8px auto;
	border-radius: 7px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.inputShare {
	max-width:95%;border-radius:5px;border: #999 solid 1px;height:30px;
	padding: 0 7px;
}
.btn {
	border-radius:5px;color:white;height:32px;font-size:16px;line-height:2px;margin:5px;
}
.green {
	/* style="border-radius:5px;;color:white;height:32px;font-size:16px;line-height:2px;margin:5px; */
	float:right;
	border:#2BB94D solid 1px;
	background-color:#31D758;
}
.red {
	/* style="border-radius:5px;;color:white;height:32px;font-size:16px;line-height:2px;margin:5px; */
	float:right;
	border:#C92323 solid 1px;
	background-color:#EA4E4E;
}
.blue {
	/* float:right; */
	border:rgb(52, 96, 240) solid 1px;
	background-color:rgb(49, 149, 215);
}
.info {
	
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.width {
	max-width: 30em;
	padding:  .5em;
	text-align: center;
}

.info h4 {
	margin: 0 0 12px;
	color: #777;
}

.info img {
	max-width: 22em;
	border-radius: 7px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.info i {
	color: #666;
	font-size: 9px;
}

.legend {
	line-height: 18px;
	color: #555;
	text-align: center; 
	z-index: 30000;
	border-radius: 6px;
	background: white;
	background: rgba(255, 255, 255, 0.85);
	padding: 2px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.legend img {
	width: 100%;
	padding: 0px;
	border-radius: 7px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.logo {
	position: absolute;
	z-index: 1000;
	bottom: .8em;
}
.left {
	left: 1em;
}

.logo img {
	width: 2.4em;
	height: 2.4em;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	padding: 3px;
	border-radius: 5px;
}

.qr {
	 bottom: .8em;
	right: 1em;
}

.qr:hover {
	 bottom: 2em;
	right: 2em;
	transform: scale(1.4);
}

@media (max-width: 440px),
(max-height : 600px) {


	.info img {
		max-width: 14em;
	}

	.leaflet-popup-content-wrapper {
		width: 18em;
	}

	/* .logo,
	.logo img {
		position: absolute;
		z-index: 1000;
		right: .41em;
		bottom: 1.3em;
	} */
}